<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ACPI</key>
    <dict>
      <key>DSDT</key>
      <dict>
        <key>Fixes</key>
        <dict>
          <key>AddDTGP_0001</key>
          <true/>
          <key>AddIMEI_80000</key>
          <true/>
          <key>AddMCHC_0008</key>
          <true/>
          <key>FIX_INTELGFX_100000</key>
          <true/>
          <key>FIX_DARWIN_10000</key>
          <true/>
          <key>FixHPET_0010</key>
          <true/>
          <key>FixSATA_0400</key>
          <true/>
          <key>FixSBUS_0080</key>
          <true/>
        </dict>
      </dict>
      <key>SSDT</key>
      <dict>
        <key>EnableC6</key>
        <true/>
        <key>EnableC7</key>
        <true/>
        <key>Generate</key>
        <true/>
      </dict>
      <key>DropTables</key>
      <array>
        <dict>
          <key>Signature</key>
          <string>SSDT</string>
          <key>TableId</key>
          <string>CpuPm</string>
        </dict>
        <dict>
          <key>Signature</key>
          <string>SSDT</string>
          <key>TableId</key>
          <string>Cpu0Ist</string>
        </dict>
        <dict>
          <key>Signature</key>
          <string>DMAR</string>
        </dict>
      </array>
    </dict>
    <key>Boot</key>
    <dict>
      <key>Arguments</key>
      <string></string>
      <key>DefaultVolume</key>
      <string>LastBootedVolume</string>
      <key>Timeout</key>
      <integer>5</integer>
    </dict>
    <key>Devices</key>
    <dict>
      <key>Audio</key>
      <dict>
        <key>Inject</key>
        <integer>7</integer>
      </dict>
    </dict>
    <key>GUI</key>
    <dict>
      <key>Hide</key>
      <array>
        <string>Recovery HD</string>
      </array>
      <key>Language</key>
      <string>en:0</string>
      <key>Theme</key>
      <string>bootcamp2.0</string>
      <key>Scan</key>
      <dict>
        <key>Legacy</key>
        <false/>
      </dict>
    </dict>
    <key>Graphics</key>
    <dict>
      <key>ig-platform-id</key>
      <string>0x0D220003</string>
      <key>Inject</key>
      <dict>
        <key>Intel</key>
        <true/>
      </dict>
    </dict>
    <key>KernelAndKextPatches</key>
    <dict>
      <key>KextsToPatch</key>
      <array>
        <dict>
          <key>Comment</key>
          <string>XHCI kext for 10.11</string>
          <key>Find</key>
          <data>g72M/v//EA==</data>
          <key>MatchOS</key>
          <string>10.11</string>
          <key>Name</key>
          <string>AppleUSBXHCIPCI</string>
          <key>Replace</key>
          <data>g72M/v//Hw==</data>
        </dict>
        <dict>
          <key>Comment</key>
          <string>EHCI for Sierra</string>
          <key>Find</key>
          <data>cG9ydHM=</data>
          <key>MatchOS</key>
          <string>10.12</string>
          <key>Name</key>
          <string>AppleUSBHub</string>
          <key>Replace</key>
          <data>AAAAAAA=</data>
        </dict>
      </array>
    </dict>
    <key>SystemParameters</key>
    <dict>
      <key>InjectKexts</key>
      <true/>
      <key>NvidiaWeb</key>
      <true/>
    </dict>
  </dict>
</plist>
